Nebraska lottery investigation
===

### Analyzing disproportionate or improbable results in Nebraska lottery winnings data

---

**Reporter's note:** *This story did not get published as a result of conflicts with the end of my internship and the beginning of my next job at a different publication. However, original reporting was done, drafts written and edited,  and as you will see from the data analysis below, there were and should still be newsworthy trends worth exploring in the Nebraska lottery.*

In [3]:
import agate, datetime

**Reporter's note:** *While this notebook uses agate – an older python library designed specifically for data journalists which hasn't been updated in a few years – future analysis will likely be done with pandas, numpy and other more standard and up-to-date libraries.*

In [6]:
specifiedtypes = {
    'Zip Code': agate.Text(),
    'Retailer ID': agate.Text(),
    'Product ID': agate.Text()
}
newinners = agate.Table.from_csv('NEwinnersclean2.csv', column_types=specifiedtypes)

**Reporter's note:** *The csv file in this and other analyis notebooks for this project were first cleaned and standardized from raw csv files using OpenRefine software, to eliminate redundancies caused by inconsistent spelling, punctuation, etc.*

In [8]:
print(newinners)

| column                | data_type |
| --------------------- | --------- |
| Claim Date            | Date      |
| Include Date          | Boolean   |
| Retailer Name         | Text      |
| Retailer Address      | Text      |
| Retailer City         | Text      |
| Zip Code              | Text      |
| Retailer ID           | Text      |
| Player First Name     | Text      |
| Player Middle Initial | Text      |
| Player Last Name      | Text      |
| First and Last Name   | Text      |
| Player City           | Text      |
| Player State          | Text      |
| Game Name             | Text      |
| Product ID            | Text      |
| Claim Amount          | Number    |
| Include Amount        | Boolean   |

Group by players' full names, then create 'Wins' column by counting instances of unique player names in newinners. Sum claim amounts for all wins per player as 'Total Winnings'

In [9]:
byplayer = newinners.group_by('First and Last Name')
playerwinnings = byplayer.aggregate([
    ('Wins', agate.Count()),
    ('Total Winnings', agate.Sum('Claim Amount'))
])
playerwinnings.order_by('Total Winnings', reverse=True).print_table(max_rows=100)

| First and Last Name  | Wins | Total Winnings |
| -------------------- | ---- | -------------- |
| DAVID E HARRIG       |    1 |     61,450,000 |
| GARY R KOUMA         |    1 |      2,000,000 |
| LONNIE D WHITE       |    1 |      2,000,000 |
| MARK A DAVIES        |    1 |      2,000,000 |
| DAROLD L KEMPSTON    |    3 |      1,011,000 |
| CRYSTAL L SLAUGHTER  |    6 |      1,003,104 |
| RANDALL L FALTYS     |    2 |      1,000,503 |
| TIMOTHY J MANION     |    1 |      1,000,000 |
| MELINDA L ROTHER     |    1 |      1,000,000 |
| BRADLEY J BRUNK      |    1 |      1,000,000 |
| L.L.C.  JCAA INVE... |    1 |      1,000,000 |
| THOMAS M DONLAN      |    1 |      1,000,000 |
| RANDALL W HOUPT      |    1 |      1,000,000 |
| MARTHA B POAGE       |    1 |      1,000,000 |
| MARTY  MCELRATH      |    1 |      1,000,000 |
| JANELLE L LINDBURG   |    1 |      1,000,000 |
| L.L.C.  CARPE DIEM   |    1 |      1,000,000 |
| JOANN  COOKE         |    1 |      1,000,000 |
| JERRY L WELLS        |    1 |      1,000,000 |
| PATRICIA L KRONTZ    |    1 |      1,000,000 |
| DUSTIN D WOOD        |    1 |      1,000,000 |
| THOMAS L REINERS     |    1 |      1,000,000 |
| PEGGY L KRAMER       |    1 |      1,000,000 |
| ROGER M COOK         |    1 |      1,000,000 |
| MARCELLA J STOLLER   |    1 |      1,000,000 |
| CHRISTOPHER M BRAUN  |    1 |      1,000,000 |
| ETHAN Z JOHNSON      |    1 |        278,000 |
| DARRELL D LARABEE    |    1 |        260,000 |
| SANFORD L RATZLAFF   |    7 |        254,150 |
| JAMES P LYONS        |    1 |        254,000 |
| RONALD J BUETTNER    |    4 |        252,000 |
| JOSEPH C SCHMIDT     |    1 |        250,000 |
| MARY L MEJIA-RAMIREZ |    1 |        250,000 |
| RICHARD B BAESLER    |    1 |        250,000 |
| TODD A ANDERSON      |    1 |        240,000 |
| KAREN  VONNAHME      |    3 |        236,000 |
| CURTIS  FRY          |    7 |        233,218 |
| PEGGY A SCHRADER     |    2 |        226,000 |
| COLIN D MOUL         |    4 |        222,000 |
| CHRIS A ULRICH       |    1 |        220,000 |
| MICHAEL D RADNOV     |   23 |        214,226 |
| TERRY D MURNANE      |   28 |        213,200 |
| KEITH A MATZEN       |    5 |        213,000 |
| JAMES M HAASE        |    2 |        210,000 |
| MARTHA  CRISS        |    3 |        208,000 |
| TOM H SPETH          |   10 |        207,075 |
| LISA M  PRIME        |    6 |        205,827 |
| JOSEPH S JACOBS      |    5 |        205,000 |
| HERSCHEL W NELSON    |    1 |        204,000 |
| TRICIA  KORGEL       |    5 |        204,000 |
| JULIE A HOPKINS      |    5 |        204,000 |
| JAMA L OENNING       |    2 |        201,000 |
| LISA R CRUMLEY       |    2 |        200,777 |
| DAVID E MCGAUGHY     |    1 |        200,000 |
| TOMMY R  TRUSTY      |    1 |        200,000 |
| JILL A LEAGUE        |    1 |        200,000 |
| KAREN S GRONENTHAL   |    1 |        200,000 |
| TERRY    L  BUSS     |    1 |        200,000 |
| CONNIE E LEEVER      |    1 |        200,000 |
| MARTY  WOHLERS       |    1 |        200,000 |
| JESSICA L SUTTON     |    1 |        200,000 |
| VAN T LE             |    1 |        200,000 |
| JOSEPH J MARTINEC... |    1 |        200,000 |
| JOANNE M BALOK       |    1 |        200,000 |
| ROBERT D ANDERSON    |    2 |        191,000 |
| WAYNE R  MEYERS      |    2 |        190,009 |
| JOHN D  CLEVELAND    |    1 |        186,000 |
| JANEE L WEBER        |    2 |        175,000 |
| LINDA M WIEDENFELD   |    1 |        166,000 |
| PAUL  KONCHAGULIAN   |    1 |        166,000 |
| KYLE L JONES         |    1 |        164,000 |
| WILLIAM E  BUELL     |    2 |        162,450 |
| KEITH W RUPP         |    1 |        162,000 |
| CEDRIC W NAUERTZ     |    1 |        162,000 |
| DON D GABLE          |    1 |        160,000 |
| SCOTT  GOTTSCHALL    |    2 |        160,000 |
| TIM L POLSON         |   10 |        158,677 |
| MARTY K MASSEY       |    1 |        154,000 |
| CURTIS G  STEVENS    |    1 |        154,000 |
| RANDAL E STAHLECKER  |    1 |        154,000 |
| JOHN  LEAMEN         |    5 |        154,000 |
| RAY  SUCHAN          |    4 |        153,000 |
| JOSEPH B.  TISTHA... |    3 |        152,000 |
| RICHARD E HAMBLEN    |    3 |        151,200 |
| SAMUEL A REXIN       |    1 |        150,010 |
| RICHARD R FOULK      |    1 |        150,000 |
| MICHEAL J MCINTOSH   |    1 |        150,000 |
| RODNEY B SMYSER      |    1 |        150,000 |
| LAWRENCE  AMAH       |    1 |        150,000 |
| KEVIN  MILLER        |    1 |        150,000 |
| TIM L PETERS         |    1 |        150,000 |
| MUKHTAR A OMAR       |    1 |        150,000 |
| KUM & GO  L.C.       |    1 |        148,000 |
| MITCH W PICKETT      |    2 |        146,450 |
| MARY E MATTSON       |    1 |        146,000 |
| SALLY S THOMAS       |    1 |        142,000 |
| DEBORAH K  VAVRICEK  |    3 |        141,000 |
| GREGORY R ROSHOLM    |    1 |        140,009 |
| DEBRA L ARENT        |    1 |        140,000 |
| TRACY L JARECKI      |    1 |        138,000 |
| ...                  |  ... |            ... |

Filter resulting table into new table showing only players with 10 or more wins, then sort by Wins column.

In [10]:
doubledigit_winners = playerwinnings.where(lambda row: row['Wins'] >= 10)
doubledigit_winners.order_by('Wins', reverse=True).print_table(max_rows=100)

| First and Last Name  | Wins | Total Winnings |
| -------------------- | ---- | -------------- |
| DAVID BYERS          |  465 |          1,362 |
| AL  HALL             |  269 |            567 |
| WARAPORN STAHLNECKER |  248 |          2,220 |
| MICHAEL S  TAGART    |  181 |         42,500 |
| WILLIAM H HASSETT    |  170 |            422 |
| PAYTON L LASSEK      |  168 |         67,200 |
| TIMOTHY A HORN       |  132 |        101,400 |
| JERRY P STAHLNECKER  |  132 |          2,026 |
| DELLA  PINO          |  124 |            769 |
| DEWAYNE  STALEY      |  111 |         66,800 |
| MARK J BULLERMAN     |  107 |            303 |
| SCOTT C.  HARMON     |  103 |         56,946 |
| PATRICK  THIT        |   95 |         52,014 |
| ROBERT  RITONYA      |   92 |         54,600 |
| CHRIS TUCKER         |   90 |            455 |
| MYHUONG T NGUYEN     |   84 |         49,210 |
| DONNA  HESS          |   82 |            330 |
| ROBERT P CECAVA      |   78 |            341 |
| DEBBIE  TIPPY        |   77 |            337 |
| JULIUS  DASHEFSKY    |   75 |            386 |
| ARTHUR L HOLMES      |   72 |            631 |
| SHARON D HAITH       |   69 |         40,801 |
| WILLIAM  EARLYWINE   |   61 |         36,700 |
| KELLI TOWER          |   60 |            185 |
| JOHN T SCHRUNK       |   59 |         36,350 |
| LARRY MURRY          |   59 |         39,876 |
| SHERYL  HARIG        |   55 |            118 |
| KARLEEN C STUTZMAN   |   53 |        136,532 |
| JOE N MATTOX         |   53 |         55,118 |
| BARRY L BRITTON      |   53 |          3,500 |
| ED  FOWLER           |   52 |          1,376 |
| DAVID A SNYDER       |   52 |            299 |
| DENNIS J MCMAHON     |   49 |         29,400 |
| CARRIE  GLANZ        |   49 |            873 |
| JEAN  WHEELER        |   49 |            120 |
| ANNA T THOMAS        |   48 |         22,400 |
| WENDY MADUFF         |   47 |            180 |
| JEANNE  VLIET        |   46 |            284 |
| CAROLYN BRONSON      |   45 |            186 |
| SARAH B WEAH         |   44 |         38,400 |
| KAREN MCKIMM         |   43 |            227 |
| LAURIE L HEISE       |   42 |         31,200 |
| MICHAEL  MCINTIRE    |   42 |            136 |
| FERNE C RABAGO       |   41 |            227 |
| CHARLES H FINNEY     |   40 |         16,116 |
| KAW H GAY            |   39 |         22,200 |
| ESTHER THOMPSON      |   39 |            183 |
| LOTTERY VALIDATED... |   38 |         12,912 |
| TIMOTHY D SCHULTE    |   38 |         22,800 |
| MELANIE A GROW       |   38 |            226 |
| KENT MCCARTHY        |   38 |            104 |
| DOROTHY MCCARTHER    |   38 |            153 |
| D E FINN             |   37 |            661 |
| ROBERT  HINKLE       |   35 |            782 |
| DEBORAH  IRANI       |   35 |            518 |
| WILLIAM D  HOSELTON  |   34 |         20,408 |
| JAMES P YUNGHANS     |   34 |            255 |
| MATTHEW BARTAK       |   34 |            486 |
| ROBERT C  REED       |   33 |         26,800 |
| ISAIAH JR.  JACKSON  |   33 |          9,800 |
| JAVIER  TRUJILLO     |   33 |         12,800 |
| MARK A KORDUS        |   33 |            500 |
| ROBERT J TAGART      |   32 |         20,654 |
| CHARLES D.  NAYLOR   |   32 |         42,600 |
| JOE N CHAVIS         |   32 |         34,320 |
| KIMBERLY  LOPEZ      |   32 |            315 |
| JEANNE  VILET        |   32 |            139 |
| BETTY  WIEDEMAN      |   32 |             85 |
| SAW  LAH             |   31 |         17,800 |
| RICHARD F DARLING    |   31 |         21,100 |
| GLORIA J GONZALEZ    |   31 |         22,530 |
| ROBERT  LAUCK        |   31 |             55 |
| ROBERT R RITONYA     |   30 |         17,526 |
| CAROL  BLACKMAN      |   30 |            175 |
| RANDY R WACHA        |   30 |             83 |
| ANGELA  MUNDELL      |   30 |             88 |
| MYRA  STRINGHAM      |   30 |            151 |
| WILLIE A MANN        |   29 |         20,500 |
| ROBERT D GREENE      |   29 |            147 |
| ANDREA  HAMMONS      |   29 |            271 |
| TINA DIX             |   29 |             60 |
| ANN  GEHRKEN         |   29 |             66 |
| TERRY D MURNANE      |   28 |        213,200 |
| WALTER E MALSON      |   28 |         30,837 |
| THOMAS J HOWELL      |   28 |         11,259 |
| MICHAEL  BERRY       |   27 |          7,400 |
| RAMON  MARRERO       |   27 |         16,509 |
| MARK  MURPHY         |   27 |             43 |
| MARK  LUELLMAN       |   26 |         15,600 |
| QUENDER C GRIBOSKI   |   26 |            116 |
| ROBERT D BLOCK       |   25 |         80,540 |
| DARRIN M COOK        |   25 |         14,500 |
| CAROL  KNAUSS        |   25 |         18,554 |
| JAMES F HEFLINGER    |   25 |         14,700 |
| TAMMY  SELL          |   25 |            183 |
| DENNIS  JACKSON      |   25 |            208 |
| DEBBIE  HUBER        |   25 |             71 |
| ROBERT C KING        |   25 |            122 |
| STACY  ROMANS        |   25 |             55 |
| MARYANN  KORZENIE... |   25 |             51 |
| ...                  |  ... |            ... |

Broaden to include players with five or more wins.

In [6]:
frequent_winners = playerwinnings.where(lambda row: row['Wins'] >= 5)
frequent_winners.order_by('Total Winnings', reverse=True).print_table(max_rows=100)

| First and Last Name  | Wins | Total Winnings |
| -------------------- | ---- | -------------- |
| CRYSTAL L SLAUGHTER  |    6 |      1,003,104 |
| SANFORD L RATZLAFF   |    7 |        254,150 |
| CURTIS  FRY          |    7 |        233,218 |
| MICHAEL D RADNOV     |   23 |        214,226 |
| TERRY D MURNANE      |   28 |        213,200 |
| KEITH A MATZEN       |    5 |        213,000 |
| TOM H SPETH          |   10 |        207,075 |
| LISA M  PRIME        |    6 |        205,827 |
| JOSEPH S JACOBS      |    5 |        205,000 |
| TRICIA  KORGEL       |    5 |        204,000 |
| JULIE A HOPKINS      |    5 |        204,000 |
| TIM L POLSON         |   10 |        158,677 |
| JOHN  LEAMEN         |    5 |        154,000 |
| KARLEEN C STUTZMAN   |   53 |        136,532 |
| DANNY R RUSSELL      |    5 |        133,000 |
| LIEN T PHAM          |    6 |        118,200 |
| LOREN  K ZIEGMAN     |    6 |        115,043 |
| GLEN  HOGUE          |   10 |        110,624 |
| HILLARY A SIERRA     |    5 |        104,000 |
| JOHN S McMANIS       |    5 |        104,000 |
| TIMOTHY A HORN       |  132 |        101,400 |
| JERRY T SCARLETT     |    8 |         98,250 |
| EDUARD  KOLESNIKOV   |    5 |         94,778 |
| ROBERT STARK         |   18 |         83,160 |
| ROBERT D BLOCK       |   25 |         80,540 |
| STEVEN B THORNBURG   |    5 |         76,999 |
| JOE J  SHEDIAK       |    8 |         73,300 |
| PAYTON L LASSEK      |  168 |         67,200 |
| DEWAYNE  STALEY      |  111 |         66,800 |
| FAHAD A FARIS        |    5 |         64,000 |
| DAVID A.  MCDOWELL   |    6 |         62,395 |
| SCOTT C.  HARMON     |  103 |         56,946 |
| DALE  KUHN           |    7 |         56,000 |
| JOE N MATTOX         |   53 |         55,118 |
| ROBERT  RITONYA      |   92 |         54,600 |
| JAMES M MCGRAW       |   11 |         54,527 |
| PATRICK  THIT        |   95 |         52,014 |
| DANIEL  ENSRUD       |    7 |         50,013 |
| ALPHONSE A BAKHIT    |   14 |         49,324 |
| MYHUONG T NGUYEN     |   84 |         49,210 |
| CONCHETTA  ESPARZA   |    5 |         47,999 |
| SHIRLEY J STARLING   |   10 |         46,200 |
| MINH  TRAN           |   13 |         46,100 |
| JOSEPH H EWOLDT      |   10 |         44,744 |
| RORY L RAND          |    6 |         44,500 |
| JAMES D HENDRICKSON  |    6 |         44,206 |
| PATRICIA L NIEBAUER  |    7 |         44,020 |
| CHARLES D.  NAYLOR   |   32 |         42,600 |
| MICHAEL S  TAGART    |  181 |         42,500 |
| LEAANN  HANSEN       |    8 |         42,000 |
| ERVIN J KOPP         |    6 |         41,300 |
| SHARON D HAITH       |   69 |         40,801 |
| LARRY MURRY          |   59 |         39,876 |
| TATJANA  SUTEJ       |    6 |         38,653 |
| DOROTHY M THIEM      |   13 |         38,459 |
| SARAH B WEAH         |   44 |         38,400 |
| WILLIAM  EARLYWINE   |   61 |         36,700 |
| JOHN T SCHRUNK       |   59 |         36,350 |
| TAMMY L VOSTREZ      |   10 |         35,777 |
| LEE K  TINKLER       |   15 |         35,203 |
| NICOLE A KINGSTON    |    6 |         35,000 |
| DOUGLAS  OBERMIRE    |   15 |         34,575 |
| JOE N CHAVIS         |   32 |         34,320 |
| ROGER D ADAMS        |   22 |         34,070 |
| MARSHALL  LEITING    |   24 |         33,307 |
| RITA  HAUTZENRODER   |   19 |         32,802 |
| LAURIE L HEISE       |   42 |         31,200 |
| WALTER E MALSON      |   28 |         30,837 |
| DENNIS J MCMAHON     |   49 |         29,400 |
| JACQUE M  RUE        |    5 |         28,802 |
| MARY A MC GINLEY     |    5 |         27,001 |
| KEVIN  PETERS        |    7 |         26,800 |
| ROBERT C  REED       |   33 |         26,800 |
| CHARLES E MADISON    |   10 |         26,215 |
| MICHAEL D FREEBURG   |   10 |         26,200 |
| RASHEED M BADEER     |    7 |         25,660 |
| ALEXIS  RODRIGUEZ    |    7 |         25,600 |
| JOHN W STARLIN       |    6 |         25,400 |
| GLENN A BOYER        |    6 |         25,000 |
| STEVEN M  LACHER     |    5 |         23,800 |
| DOUGLAS  THATCHER    |   20 |         23,000 |
| TIMOTHY D SCHULTE    |   38 |         22,800 |
| VICTOR J MOODY       |    5 |         22,700 |
| GLORIA J GONZALEZ    |   31 |         22,530 |
| ANNA T THOMAS        |   48 |         22,400 |
| KAW H GAY            |   39 |         22,200 |
| LINDA L PERRIEN      |   10 |         22,200 |
| DAVID H  MAC         |   20 |         21,600 |
| RICHARD F DARLING    |   31 |         21,100 |
| MELVIN L REIN        |   23 |         21,009 |
| GARY  BRILEY         |   17 |         20,800 |
| ROBERT J TAGART      |   32 |         20,654 |
| WILLIE A MANN        |   29 |         20,500 |
| WILLIAM D  HOSELTON  |   34 |         20,408 |
| ADOLPHE  DENOVELLIS  |   14 |         19,605 |
| TAMI L MEEVES        |   11 |         19,500 |
| KEITH R ESTRADA      |   10 |         19,500 |
| RAMON  GRIMALDO      |    5 |         19,242 |
| PRISCILLA  HODNET... |    7 |         18,707 |
| CAROL  KNAUSS        |   25 |         18,554 |
| ...                  |  ... |            ... |

Create copy of newinners, but eliminate rows with nulls in 'Claim Amount'

In [16]:
winsclaimed = newinners.where(lambda row: row['Claim Amount'] != None)

Pivot winsclaimed to count each players' win totals by 'Game Name'

In [17]:
gamespivot = winsclaimed.pivot(['First and Last Name'], 'Game Name')

In [18]:
print(gamespivot)

| column                         | data_type |
| ------------------------------ | --------- |
| First and Last Name            | Text      |
| Powerball                      | Number    |
| Pick 3                         | Number    |
| Mega Millions                  | Number    |
| Precious Metals Superticket    | Number    |
| Lucky Numbers Superticket      | Number    |
| Pick 5                         | Number    |
| 10x The Money                  | Number    |
| Winter White Ice               | Number    |
| No Holding Back                | Number    |
| Multitude Of Money             | Number    |
| Cosmic Cash Crossword          | Number    |
| Lavish Luck Multiplier         | Number    |
| Scratch N Match Bingo Royale   | Number    |
| 20x                            | Number    |
| $100,000 Crossword Doubler     | Number    |
| SP Instant                     | Number    |
| Truck$ & Buck$                 | Number    |
| MyDaY                          | Number    |
| Flawless Fortune               | Number    |
| Nebraska Lottery Limited       | Number    |
| $100,000 Jackpot               | Number    |
| 25th Anniv. Silver Multiplier  | Number    |
| Vip Club                       | Number    |
| Cash Crossword Doubler         | Number    |
| Spectacular 7                  | Number    |
| Ca$hword Extravaganza          | Number    |
| Candy Cane Cash 9x             | Number    |
| Mystery Doubler Crossword      | Number    |
| Turquoise Treasures            | Number    |
| Super Triple 7s                | Number    |
| Nebraska Gold 9x               | Number    |
| Mahjong                        | Number    |
| Buckets Of Bucks 9x            | Number    |
| 10x Bingo Multiplier           | Number    |
| Johnny Rodgers                 | Number    |
| Gems 7's                       | Number    |
| Lucky Stars Big Bingo          | Number    |
| Crossword Inferno              | Number    |
| The Color Of Money 9x          | Number    |
| 2by2                           | Number    |
| Platinum Card 9x               | Number    |
| Wheel Of Fortune               | Number    |
| Precious Jewels                | Number    |
| $2,000,000 Explosion           | Number    |
| The Big $10 Ticket             | Number    |
| Money Mustache                 | Number    |
| Life                           | Number    |
| X-word Doubler                 | Number    |
| Crazy Crossword                | Number    |
| Windfall Of Wins 9x            | Number    |
| The Glitter Is Gold            | Number    |
| Lucky Chicks                   | Number    |
| Triple Tripler                 | Number    |
| Big Money                      | Number    |
| Extreme Green                  | Number    |
| The 4s                         | Number    |
| Gold Rush                      | Number    |
| Ultimate Crossword             | Number    |
| Riches Galore                  | Number    |
| 5x Lucky                       | Number    |
| Dashing Through The Dough      | Number    |
| $100,000 Bonus Slots           | Number    |
| Holiday Cash Blast             | Number    |
| Platinum Jubilee 20x           | Number    |
| Conference Foes                | Number    |
| 7                              | Number    |
| Pure Gold                      | Number    |
| $100,000 Crossword             | Number    |
| Extreme Cash Blast             | Number    |
| Prized Pearl Crossword         | Number    |
| Dark Chocolate                 | Number    |
| Crossword Doubler              | Number    |
| Dazzling Gem 7s                | Number    |
| SP Pick 5                      | Number    |
| Lucky To Be Unlucky            | Number    |
| The Great 8                    | Number    |
| Harley Davidson                | Number    |
| $50,000 Mega Bingo             | Number    |
| Power 5                        | Number    |
| $50,000 Crossword Connect      | Number    |
| Wild Cherry Crossword          | Number    |
| Fun 5's                        | Number    |
| Crossword Corners              | Number    |
| N                              | Number    |
| $1,500 Frenzy                  | Number    |
| Caesars                        | Number    |
| $50,000 Jackpot                | Number    |
| 7's On Fire                    | Number    |
| Usa                            | Number    |
| 50x The Cash                   | Number    |
| Ognib                          | Number    |
| Tracking Bigfoot               | Number    |
| Black Ice                      | Number    |
| Dazzling 7s                    | Number    |
| 925                            | Number    |
| Multiplier Mania               | Number    |
| Cash Club                      | Number    |
| Going Green                    | Number    |
| Powerball/mega Millions        | Number    |
| Summer Red 10x                 | Number    |
| The Bigger Fish                | Number    |
| $10,000 Jackpot                | Number    |
| Pizza Payout                   | Number    |
| Bacon Bucks                    | Number    |
| Ruby Red Line Big Bingo        | Number    |
| Zombie Bash                    | Number    |
| Lucky Summer 13 Diamonds       | Number    |
| Lucky Rewards                  | Number    |
| Grills Gone Wild               | Number    |
| Larry The Cable Guy            | Number    |
| $50,000 Silver And Gold Crossw | Number    |
| Frogger                        | Number    |
| Mega Cash                      | Number    |
| Kiss                           | Number    |
| Quick 7s                       | Number    |
| 12 Days Of Christmas           | Number    |
| Chocolate                      | Number    |
| Diamond Dazzler                | Number    |
| Nebr Lottery Black             | Number    |
| Bonus Crossword                | Number    |
| Golden Goose                   | Number    |
| Sizzling Summer 7s: Fiery Diam | Number    |
| Silver 7s                      | Number    |
| 7x The Money                   | Number    |
| SP 2by2                        | Number    |
| Cash Splash                    | Number    |
| Naughtier Or Nice              | Number    |
| Reindeer Game                  | Number    |
| Fluorescent Fortune            | Number    |
| Bonus Quick 7s                 | Number    |
| Pac-man Money Maze             | Number    |
| Holiday Cheers Bing            | Number    |
| Lucky Dog Big Bingo            | Number    |
| Couch Cushion Cash             | Number    |
| Treasure Huntin'               | Number    |
| Cleopatra                      | Number    |
| Triple Double Red Hot 777      | Number    |
| Nebraska Loteria               | Number    |
| I Love NE                      | Number    |
| The Three Stooges              | Number    |
| Chinese Checkers               | Number    |
| Uno                            | Number    |
| Loteria                        | Number    |
| Electric 3s                    | Number    |
| Match And Win                  | Number    |
| Blackout Bingo                 | Number    |
| Loops Of Loot                  | Number    |
| Monopoly                       | Number    |
| Twisted Bingo                  | Number    |
| Mrs. Claus' Crossword          | Number    |
| Naughty Or Nice                | Number    |
| Super 7's Bingo                | Number    |
| Crazy 8s                       | Number    |
| Bejeweled                      | Number    |
| Anniversary Bonus Crossword    | Number    |
| Peppermint Payout              | Number    |
| Crazy 8's                      | Number    |
| 2x Bingo                       | Number    |
| Cow Pies                       | Number    |
| 2x Bingo!                      | Number    |
| Double Doubler                 | Number    |
| Diamond Mine 9x                | Number    |
| Red White & Blue               | Number    |
| Emoji Roundup 2                | Number    |
| Emoji Roundup                  | Number    |
| $1 Lottery Ticket              | Number    |
| Digging Diamonds               | Number    |
| 2 In One                       | Number    |
| Fun 5s                         | Number    |
| Pirate's Gold                  | Number    |
| Groovy Cash                    | Number    |
| The $25,000 Game               | Number    |
| Sugar Cookies                  | Number    |
| Lucky Summer 13 Sapphires      | Number    |
| Hot Sriracha                   | Number    |
| Winter Takes It All            | Number    |
| $20,000 Jackpot                | Number    |
| Double Match                   | Number    |
| 20x The Cash                   | Number    |
| Get In Line                    | Number    |
| Black Diamond Crossword        | Number    |
| Money Multiplier               | Number    |
| Double The Dollars             | Number    |
| Truck$ And Buck$               | Number    |
| Tic-tac-bingo                  | Number    |
| Ghostbusters                   | Number    |
| Fat Cat Tripler                | Number    |
| Lucky Dog Doubler              | Number    |
| Play Ball                      | Number    |
| Did I Win?                     | Number    |
| Lava Loot                      | Number    |
| Camo Cash                      | Number    |
| Lineword                       | Number    |
| Bunco!                         | Number    |
| Money In The Bank              | Number    |
| Beat The Dealer                | Number    |
| Scrabble                       | Number    |
| Summer Red 5x                  | Number    |
| Gumball Gems                   | Number    |
| Black Opal 7s                  | Number    |
| Lucky Gold                     | Number    |
| Blackjack                      | Number    |
| Quick 7's Deluxe (r            | Number    |
| Bunco                          | Number    |
| Triple Diamonds                | Number    |
| Let It Snow Crossword          | Number    |
| Frisbee Disc                   | Number    |
| Diamond Dollars                | Number    |
| Sizzling Summer 7s: Red Hot Ru | Number    |
| 3 Play                         | Number    |
| White Hot 7s                   | Number    |
| Break The Snowbank             | Number    |
| Twelve Elves                   | Number    |
| Winnerscape                    | Number    |
| Game 7-11                      | Number    |
| Royal Blue                     | Number    |
| SP Powerball                   | Number    |
| 10x The Cash                   | Number    |
| $10,000 Money Match            | Number    |
| Green Lantern                  | Number    |
| 10x Cash Payout                | Number    |
| Santa's Little Secrets         | Number    |
| 10 Grand                       | Number    |
| Tree Trimming Treasures        | Number    |
| Holiday Gifts                  | Number    |
| Planets Align...and I Feel Fin | Number    |
| Fantasy Football               | Number    |
| Red Zone Cash                  | Number    |
| Tree Trimmin Triple            | Number    |
| Red Hot & Blue                 | Number    |
| Cherry 8s Of Fire              | Number    |
| Lucky Pair                     | Number    |
| Four By 4                      | Number    |
| The Heart Of Luck              | Number    |
| 2021-07-11                     | Number    |
| Quick 7s - Seasonal            | Number    |
| Holiday Quick 7s               | Number    |
| Quick 7's                      | Number    |
| Llucky Llama                   | Number    |
| Quick 7 S                      | Number    |
| Play Is Good                   | Number    |
| Santa's Holiday Break          | Number    |
| SP Pick 3                      | Number    |
| Prime For A Win                | Number    |
| The Wild 1                     | Number    |
| Diamond Dash                   | Number    |
| Santa Paws                     | Number    |
| Power Red                      | Number    |
| Celebrate                      | Number    |
| Ruby Red Roundup               | Number    |
| Treasures Buried Deep          | Number    |
| Hot Pepper Payout              | Number    |
| 2x Fireball                    | Number    |
| Cashtag                        | Number    |
| Nebraska Pick 5 Scratch Game   | Number    |
| Stacks Of Cash                 | Number    |
| Shark Bait                     | Number    |
| Summer Red 2x                  | Number    |
| Lucky Summer 13 Rubies         | Number    |
| Lucky Emeralds                 | Number    |
| $5,000 Payday                  | Number    |
| Diamonds 2x                    | Number    |
| 24k                            | Number    |
| Aces & 8s                      | Number    |
| Sizzling Summer 7s: Scorching  | Number    |
| 4x4                            | Number    |
| Skee Ball                      | Number    |
| Black Cherry Double            | Number    |
| Sodbusting                     | Number    |
| Hole In One                    | Number    |
| 9 Ball                         | Number    |
| Lucky Ladybug Crossword        | Number    |
| Peng-win Crossword             | Number    |
| Nebraska Passport              | Number    |
| Nebraska 150                   | Number    |
| Red Hot 3's Tripler            | Number    |
| Lady Luck                      | Number    |
| Gold 7s                        | Number    |
| Blackjack Doubler              | Number    |
| Triple Payout                  | Number    |
| Spin 3                         | Number    |
| Hot 'n Spicy Tripler           | Number    |
| Lucky 7's Tripler              | Number    |
| Groooovy Cash Cow              | Number    |
| $2,500 Mega Spin               | Number    |
| Happy Cash                     | Number    |
| Cash Cow                       | Number    |
| Play Nebraska                  | Number    |
| Bubble Wrap                    | Number    |
| Pumpkin Payout                 | Number    |
| Find The 9s                    | Number    |
| Find The 9's                   | Number    |
| Hook, Line, & Sinke            | Number    |
| $500 Frenzy                    | Number    |
| A Christmas Story              | Number    |
| Bad Gifts                      | Number    |
| Stocking Stuffer               | Number    |
| Tick Tack Toe Rodeo            | Number    |
| Lucky Gems Bingo               | Number    |
| Pocket Change                  | Number    |
| SP Mega Millions               | Number    |
| Ace In The Hole                | Number    |
| The Dog                        | Number    |
| $200 Frenzy                    | Number    |
| Ben There, Win That            | Number    |
| $50 Frenzy                     | Number    |
| Nebraska Cash Blowout          | Number    |
| Ben There Win That             | Number    |
| I Love Ne                      | Number    |
| Fast 5s                        | Number    |
| Deuces Wild                    | Number    |
| Tv Tripler                     | Number    |
| Rock Paper Scissors            | Number    |
| Goal                           | Number    |
| $150,000 Cash Craze            | Number    |
| Cherry Twist                   | Number    |
| Moolah!                        | Number    |
| 5x The Winnings                | Number    |
| Golden Riches                  | Number    |
| Hot 7                          | Number    |
| Go Nebraska                    | Number    |
| Billboard                      | Number    |
| Blazing Hot 7's                | Number    |
| Hot $50                        | Number    |
| Full Tank                      | Number    |
| Bases Loaded                   | Number    |
| Hot $20                        | Number    |

In [19]:
gamespivot.order_by('Pick 3', reverse=True).print_table(max_rows=20, max_columns=5)

| First and Last Name | Powerball | Pick 3 | Mega Millions | Precious Metals S... | ... |
| ------------------- | --------- | ------ | ------------- | -------------------- | --- |
| MICHAEL S  TAGART   |         0 |    181 |             0 |                    0 | ... |
| PAYTON L LASSEK     |         0 |    168 |             0 |                    0 | ... |
| TIMOTHY A HORN      |         0 |    129 |             0 |                    0 | ... |
| DEWAYNE  STALEY     |         0 |    110 |             1 |                    0 | ... |
| SCOTT C.  HARMON    |         1 |     99 |             3 |                    0 | ... |
| ROBERT  RITONYA     |         0 |     92 |             0 |                    0 | ... |
| PATRICK  THIT       |         0 |     90 |             0 |                    0 | ... |
| MYHUONG T NGUYEN    |         0 |     82 |             0 |                    0 | ... |
| SHARON D HAITH      |         0 |     68 |             0 |                    0 | ... |
| WILLIAM  EARLYWINE  |         0 |     61 |             0 |                    0 | ... |
| JOHN T SCHRUNK      |         0 |     59 |             0 |                    0 | ... |
| LARRY MURRY         |         0 |     59 |             0 |                    0 | ... |
| JOE N MATTOX        |         0 |     50 |             0 |                    0 | ... |
| DENNIS J MCMAHON    |         0 |     49 |             0 |                    0 | ... |
| ANNA T THOMAS       |         0 |     48 |             0 |                    0 | ... |
| KARLEEN C STUTZMAN  |         0 |     47 |             0 |                    0 | ... |
| SARAH B WEAH        |         0 |     43 |             0 |                    0 | ... |
| LAURIE L HEISE      |         0 |     42 |             0 |                    0 | ... |
| KAW H GAY           |         0 |     39 |             0 |                    0 | ... |
| TIMOTHY D SCHULTE   |         0 |     38 |             0 |                    0 | ... |
| ...                 |       ... |    ... |           ... |                  ... | ... |

In [11]:
#gamespivot.to_csv('gamespivot.csv')

In [12]:
#withpick3pct = agate.Table.from_csv('all_winners.csv')

In [13]:
#print(withpick3pct)

In [14]:
#top100frequents = withpick3pct.where(lambda)

Use winsclaimed (newinners but w/o rows with null Claim Amounts) to create more robust aggregate tables analogous to earlier tables (playerwinnings, frequent_winners, doubledigit_winners). Calculate mean and max claim amounts for each table.

In [20]:
byplayer_claimed = winsclaimed.group_by('First and Last Name')
playerwinnings_claimed = byplayer_claimed.aggregate([
    ('Wins', agate.Count()),
    ('Total Winnings', agate.Sum('Claim Amount')),
    ('Avg Claim', agate.Mean('Claim Amount')),
    ('Max Claim', agate.Max('Claim Amount'))
])
playerwinnings_claimed.order_by('Wins', reverse=True).print_table(max_rows=100)

| First and Last Name  | Wins | Total Winnings |  Avg Claim | Max Claim |
| -------------------- | ---- | -------------- | ---------- | --------- |
| DAVID BYERS          |  465 |          1,362 |     2.929… |       261 |
| AL  HALL             |  269 |            567 |     2.108… |        22 |
| WARAPORN STAHLNECKER |  248 |          2,220 |     8.952… |       110 |
| MICHAEL S  TAGART    |  181 |         42,500 |   234.807… |     7,000 |
| WILLIAM H HASSETT    |  170 |            422 |     2.482… |       158 |
| PAYTON L LASSEK      |  168 |         67,200 |   400.000… |    18,800 |
| TIMOTHY A HORN       |  132 |        101,400 |   768.182… |    22,000 |
| JERRY P STAHLNECKER  |  132 |          2,026 |    15.348… |       468 |
| DELLA  PINO          |  124 |            769 |     6.202… |       126 |
| DEWAYNE  STALEY      |  111 |         66,800 |   601.802… |     9,600 |
| MARK J BULLERMAN     |  107 |            303 |     2.832… |       169 |
| SCOTT C.  HARMON     |  103 |         56,946 |   552.874… |     6,600 |
| PATRICK  THIT        |   95 |         52,014 |   547.516… |    20,400 |
| ROBERT  RITONYA      |   92 |         54,600 |   593.478… |     3,600 |
| CHRIS TUCKER         |   90 |            455 |     5.056… |        19 |
| MYHUONG T NGUYEN     |   84 |         49,210 |   585.833… |     4,800 |
| DONNA  HESS          |   82 |            330 |     4.024… |       330 |
| ROBERT P CECAVA      |   78 |            341 |     4.372… |        25 |
| DEBBIE  TIPPY        |   77 |            337 |     4.377… |       126 |
| JULIUS  DASHEFSKY    |   75 |            386 |     5.147… |        69 |
| ARTHUR L HOLMES      |   72 |            631 |     8.764… |        55 |
| SHARON D HAITH       |   69 |         40,801 |   591.319… |     1,200 |
| WILLIAM  EARLYWINE   |   61 |         36,700 |   601.639… |    30,250 |
| KELLI TOWER          |   60 |            185 |     3.083… |        28 |
| JOHN T SCHRUNK       |   59 |         36,350 |   616.102… |     2,400 |
| LARRY MURRY          |   59 |         39,876 |   675.864… |     1,550 |
| SHERYL  HARIG        |   55 |            118 |     2.145… |       118 |
| KARLEEN C STUTZMAN   |   53 |        136,532 | 2,576.075… |   100,000 |
| JOE N MATTOX         |   53 |         55,118 | 1,039.962… |    22,000 |
| BARRY L BRITTON      |   53 |          3,500 |    66.038… |     1,500 |
| ED  FOWLER           |   52 |          1,376 |    26.462… |       765 |
| DAVID A SNYDER       |   52 |            299 |     5.750… |        60 |
| DENNIS J MCMAHON     |   49 |         29,400 |   600.000… |     3,600 |
| CARRIE  GLANZ        |   49 |            873 |    17.816… |       157 |
| JEAN  WHEELER        |   49 |            120 |     2.449… |        30 |
| ANNA T THOMAS        |   48 |         22,400 |   466.667… |     6,000 |
| WENDY MADUFF         |   47 |            180 |     3.830… |        19 |
| JEANNE  VLIET        |   46 |            284 |     6.174… |       171 |
| CAROLYN BRONSON      |   45 |            186 |     4.133… |        66 |
| SARAH B WEAH         |   44 |         38,400 |   872.727… |    13,200 |
| KAREN MCKIMM         |   43 |            227 |     5.279… |        60 |
| LAURIE L HEISE       |   42 |         31,200 |   742.857… |     7,200 |
| MICHAEL  MCINTIRE    |   42 |            136 |     3.238… |        58 |
| FERNE C RABAGO       |   41 |            227 |     5.537… |        93 |
| CHARLES H FINNEY     |   40 |         16,116 |   402.900… |     2,450 |
| KAW H GAY            |   39 |         22,200 |   569.231… |    16,200 |
| ESTHER THOMPSON      |   39 |            183 |     4.692… |        42 |
| LOTTERY VALIDATED... |   38 |         12,912 |   339.789… |     2,100 |
| TIMOTHY D SCHULTE    |   38 |         22,800 |   600.000… |     1,800 |
| MELANIE A GROW       |   38 |            226 |     5.947… |       226 |
| KENT MCCARTHY        |   38 |            104 |     2.737… |        39 |
| DOROTHY MCCARTHER    |   38 |            153 |     4.026… |        29 |
| D E FINN             |   37 |            661 |    17.865… |       476 |
| ROBERT  HINKLE       |   35 |            782 |    22.343… |       782 |
| DEBORAH  IRANI       |   35 |            518 |    14.800… |       215 |
| WILLIAM D  HOSELTON  |   34 |         20,408 |   600.235… |     5,000 |
| JAMES P YUNGHANS     |   34 |            255 |     7.500… |       255 |
| MATTHEW BARTAK       |   34 |            486 |    14.294… |       230 |
| ROBERT C  REED       |   33 |         26,800 |   812.121… |     5,400 |
| ISAIAH JR.  JACKSON  |   33 |          9,800 |   296.970… |     4,600 |
| JAVIER  TRUJILLO     |   33 |         12,800 |   387.879… |     4,000 |
| MARK A KORDUS        |   33 |            500 |    15.152… |       150 |
| ROBERT J TAGART      |   32 |         20,654 |   645.438… |     7,777 |
| CHARLES D.  NAYLOR   |   32 |         42,600 | 1,331.250… |     5,500 |
| JOE N CHAVIS         |   32 |         34,320 | 1,072.500… |     5,380 |
| KIMBERLY  LOPEZ      |   32 |            315 |     9.844… |       170 |
| JEANNE  VILET        |   32 |            139 |     4.344… |        84 |
| BETTY  WIEDEMAN      |   32 |             85 |     2.656… |        33 |
| SAW  LAH             |   31 |         17,800 |   574.194… |     4,200 |
| RICHARD F DARLING    |   31 |         21,100 |   680.645… |     3,700 |
| GLORIA J GONZALEZ    |   31 |         22,530 |   726.774… |     3,100 |
| ROBERT  LAUCK        |   31 |             55 |     1.774… |        37 |
| ROBERT R RITONYA     |   30 |         17,526 |   584.200… |     3,000 |
| CAROL  BLACKMAN      |   30 |            175 |     5.833… |       104 |
| RANDY R WACHA        |   30 |             83 |     2.767… |        33 |
| ANGELA  MUNDELL      |   30 |             88 |     2.933… |        31 |
| MYRA  STRINGHAM      |   30 |            151 |     5.033… |        29 |
| WILLIE A MANN        |   29 |         20,500 |   706.897… |     3,700 |
| ROBERT D GREENE      |   29 |            147 |     5.069… |        63 |
| ANDREA  HAMMONS      |   29 |            271 |     9.345… |        54 |
| TINA DIX             |   29 |             60 |     2.069… |        40 |
| ANN  GEHRKEN         |   29 |             66 |     2.276… |        20 |
| TERRY D MURNANE      |   28 |        213,200 | 7,614.286… |   150,000 |
| WALTER E MALSON      |   28 |         30,837 | 1,101.321… |     5,001 |
| THOMAS J HOWELL      |   28 |         11,259 |   402.107… |     4,000 |
| MICHAEL  BERRY       |   27 |          7,400 |   274.074… |     3,000 |
| RAMON  MARRERO       |   27 |         16,509 |   611.444… |       909 |
| MARK  MURPHY         |   27 |             43 |     1.593… |        43 |
| MARK  LUELLMAN       |   26 |         15,600 |   600.000… |     1,800 |
| QUENDER C GRIBOSKI   |   26 |            116 |     4.462… |       116 |
| ROBERT D BLOCK       |   25 |         80,540 | 3,221.600… |    40,000 |
| DARRIN M COOK        |   25 |         14,500 |   580.000… |     4,300 |
| CAROL  KNAUSS        |   25 |         18,554 |   742.160… |     3,000 |
| JAMES F HEFLINGER    |   25 |         14,700 |   588.000… |       900 |
| TAMMY  SELL          |   25 |            183 |     7.320… |        68 |
| DENNIS  JACKSON      |   25 |            208 |     8.320… |        46 |
| DEBBIE  HUBER        |   25 |             71 |     2.840… |        38 |
| ROBERT C KING        |   25 |            122 |     4.880… |        22 |
| STACY  ROMANS        |   25 |             55 |     2.200… |        18 |
| MARYANN  KORZENIE... |   25 |             51 |     2.040… |        16 |
| ...                  |  ... |            ... |        ... |       ... |

In [21]:
frequent_winners_claimed = playerwinnings_claimed.where(lambda row: row['Wins'] >= 5)
frequent_winners_claimed.order_by('Total Winnings', reverse=True).print_table(max_rows=100)

| First and Last Name  | Wins | Total Winnings |    Avg Claim | Max Claim |
| -------------------- | ---- | -------------- | ------------ | --------- |
| CRYSTAL L SLAUGHTER  |    6 |      1,003,104 | 167,184.000… | 1,000,104 |
| SANFORD L RATZLAFF   |    7 |        254,150 |  36,307.143… |   150,000 |
| CURTIS  FRY          |    7 |        233,218 |  33,316.857… |   200,000 |
| MICHAEL D RADNOV     |   23 |        214,226 |   9,314.174… |   200,000 |
| TERRY D MURNANE      |   28 |        213,200 |   7,614.286… |   150,000 |
| KEITH A MATZEN       |    5 |        213,000 |  42,600.000… |   200,000 |
| TOM H SPETH          |   10 |        207,075 |  20,707.500… |   200,000 |
| LISA M  PRIME        |    6 |        205,827 |  34,304.500… |   100,000 |
| JOSEPH S JACOBS      |    5 |        205,000 |  41,000.000… |   200,000 |
| TRICIA  KORGEL       |    5 |        204,000 |  40,800.000… |   200,000 |
| JULIE A HOPKINS      |    5 |        204,000 |  40,800.000… |   200,000 |
| TIM L POLSON         |   10 |        158,677 |  15,867.700… |   150,000 |
| JOHN  LEAMEN         |    5 |        154,000 |  30,800.000… |   150,000 |
| KARLEEN C STUTZMAN   |   53 |        136,532 |   2,576.075… |   100,000 |
| DANNY R RUSSELL      |    5 |        133,000 |  26,600.000… |   100,000 |
| LIEN T PHAM          |    6 |        118,200 |  19,700.000… |   114,000 |
| LOREN  K ZIEGMAN     |    6 |        115,043 |  19,173.833… |   110,000 |
| GLEN  HOGUE          |   10 |        110,624 |  11,062.400… |   100,000 |
| HILLARY A SIERRA     |    5 |        104,000 |  20,800.000… |   100,000 |
| JOHN S McMANIS       |    5 |        104,000 |  20,800.000… |   100,000 |
| TIMOTHY A HORN       |  132 |        101,400 |     768.182… |    22,000 |
| JERRY T SCARLETT     |    8 |         98,250 |  12,281.250… |    50,000 |
| EDUARD  KOLESNIKOV   |    5 |         94,778 |  18,955.600… |    92,000 |
| ROBERT STARK         |   18 |         83,160 |   4,620.000… |    58,000 |
| ROBERT D BLOCK       |   25 |         80,540 |   3,221.600… |    40,000 |
| STEVEN B THORNBURG   |    5 |         76,999 |  15,399.800… |    35,000 |
| JOE J  SHEDIAK       |    8 |         73,300 |   9,162.500… |    50,000 |
| PAYTON L LASSEK      |  168 |         67,200 |     400.000… |    18,800 |
| DEWAYNE  STALEY      |  111 |         66,800 |     601.802… |     9,600 |
| FAHAD A FARIS        |    5 |         64,000 |  12,800.000… |    50,000 |
| DAVID A.  MCDOWELL   |    6 |         62,395 |  10,399.167… |    50,007 |
| SCOTT C.  HARMON     |  103 |         56,946 |     552.874… |     6,600 |
| DALE  KUHN           |    7 |         56,000 |   8,000.000… |    50,000 |
| JOE N MATTOX         |   53 |         55,118 |   1,039.962… |    22,000 |
| ROBERT  RITONYA      |   92 |         54,600 |     593.478… |     3,600 |
| JAMES M MCGRAW       |   11 |         54,527 |   4,957.000… |    20,000 |
| PATRICK  THIT        |   95 |         52,014 |     547.516… |    20,400 |
| DANIEL  ENSRUD       |    7 |         50,013 |   7,144.714… |    50,000 |
| ALPHONSE A BAKHIT    |   14 |         49,324 |   3,523.143… |    35,000 |
| MYHUONG T NGUYEN     |   84 |         49,210 |     585.833… |     4,800 |
| CONCHETTA  ESPARZA   |    5 |         47,999 |   9,599.800… |    35,000 |
| SHIRLEY J STARLING   |   10 |         46,200 |   4,620.000… |    40,000 |
| MINH  TRAN           |   13 |         46,100 |   3,546.154… |    20,000 |
| JOSEPH H EWOLDT      |   10 |         44,744 |   4,474.400… |    40,000 |
| RORY L RAND          |    6 |         44,500 |   7,416.667… |    30,000 |
| JAMES D HENDRICKSON  |    6 |         44,206 |   7,367.667… |    22,106 |
| PATRICIA L NIEBAUER  |    7 |         44,020 |   6,288.571… |    40,000 |
| CHARLES D.  NAYLOR   |   32 |         42,600 |   1,331.250… |     5,500 |
| MICHAEL S  TAGART    |  181 |         42,500 |     234.807… |     7,000 |
| LEAANN  HANSEN       |    8 |         42,000 |   5,250.000… |    35,000 |
| ERVIN J KOPP         |    6 |         41,300 |   6,883.333… |    36,000 |
| SHARON D HAITH       |   69 |         40,801 |     591.319… |     1,200 |
| LARRY MURRY          |   59 |         39,876 |     675.864… |     1,550 |
| TATJANA  SUTEJ       |    6 |         38,653 |   6,442.167… |    22,000 |
| DOROTHY M THIEM      |   13 |         38,459 |   2,958.385… |    22,000 |
| SARAH B WEAH         |   44 |         38,400 |     872.727… |    13,200 |
| WILLIAM  EARLYWINE   |   61 |         36,700 |     601.639… |    30,250 |
| JOHN T SCHRUNK       |   59 |         36,350 |     616.102… |     2,400 |
| TAMMY L VOSTREZ      |   10 |         35,777 |   3,577.700… |    11,000 |
| LEE K  TINKLER       |   15 |         35,203 |   2,346.867… |    22,003 |
| NICOLE A KINGSTON    |    6 |         35,000 |   5,833.333… |    30,000 |
| DOUGLAS  OBERMIRE    |   15 |         34,575 |   2,305.000… |    11,750 |
| JOE N CHAVIS         |   32 |         34,320 |   1,072.500… |     5,380 |
| ROGER D ADAMS        |   22 |         34,070 |   1,548.636… |     5,000 |
| MARSHALL  LEITING    |   24 |         33,307 |   1,387.792… |    10,000 |
| RITA  HAUTZENRODER   |   19 |         32,802 |   1,726.421… |    22,000 |
| LAURIE L HEISE       |   42 |         31,200 |     742.857… |     7,200 |
| WALTER E MALSON      |   28 |         30,837 |   1,101.321… |     5,001 |
| DENNIS J MCMAHON     |   49 |         29,400 |     600.000… |     3,600 |
| JACQUE M  RUE        |    5 |         28,802 |   5,760.400… |    22,000 |
| MARY A MC GINLEY     |    5 |         27,001 |   5,400.200… |    15,000 |
| KEVIN  PETERS        |    7 |         26,800 |   3,828.571… |    22,000 |
| ROBERT C  REED       |   33 |         26,800 |     812.121… |     5,400 |
| CHARLES E MADISON    |   10 |         26,215 |   2,621.500… |    22,000 |
| MICHAEL D FREEBURG   |   10 |         26,200 |   2,620.000… |    20,000 |
| RASHEED M BADEER     |    7 |         25,660 |   3,665.714… |    20,000 |
| ALEXIS  RODRIGUEZ    |    7 |         25,600 |   3,657.143… |    22,000 |
| JOHN W STARLIN       |    6 |         25,400 |   4,233.333… |    22,000 |
| GLENN A BOYER        |    6 |         25,000 |   4,166.667… |    22,000 |
| STEVEN M  LACHER     |    5 |         23,800 |   4,760.000… |    22,000 |
| DOUGLAS  THATCHER    |   20 |         23,000 |   1,150.000… |     4,800 |
| TIMOTHY D SCHULTE    |   38 |         22,800 |     600.000… |     1,800 |
| VICTOR J MOODY       |    5 |         22,700 |   4,540.000… |    10,000 |
| GLORIA J GONZALEZ    |   31 |         22,530 |     726.774… |     3,100 |
| ANNA T THOMAS        |   48 |         22,400 |     466.667… |     6,000 |
| KAW H GAY            |   39 |         22,200 |     569.231… |    16,200 |
| LINDA L PERRIEN      |   10 |         22,200 |   2,220.000… |     5,000 |
| DAVID H  MAC         |   20 |         21,600 |   1,080.000… |     4,800 |
| RICHARD F DARLING    |   31 |         21,100 |     680.645… |     3,700 |
| MELVIN L REIN        |   23 |         21,009 |     913.435… |     3,000 |
| GARY  BRILEY         |   17 |         20,800 |   1,223.529… |    10,000 |
| ROBERT J TAGART      |   32 |         20,654 |     645.438… |     7,777 |
| WILLIE A MANN        |   29 |         20,500 |     706.897… |     3,700 |
| WILLIAM D  HOSELTON  |   34 |         20,408 |     600.235… |     5,000 |
| ADOLPHE  DENOVELLIS  |   14 |         19,605 |   1,400.357… |     5,002 |
| TAMI L MEEVES        |   11 |         19,500 |   1,772.727… |    10,000 |
| KEITH R ESTRADA      |   10 |         19,500 |   1,950.000… |    10,000 |
| RAMON  GRIMALDO      |    5 |         19,242 |   3,848.400… |     8,888 |
| PRISCILLA  HODNET... |    7 |         18,707 |   2,672.429… |    10,000 |
| CAROL  KNAUSS        |   25 |         18,554 |     742.160… |     3,000 |
| ...                  |  ... |            ... |          ... |       ... |

In [22]:
doubledigit_winners_claimed = playerwinnings_claimed.where(lambda row: row['Wins'] >= 10)
byavg_ddwinners_claimed = doubledigit_winners_claimed.order_by('Avg Claim', reverse=True)
bytotal_ddwinners_claimed = doubledigit_winners_claimed.order_by('Total Winnings', reverse=True)
bywins_ddwinners_claimed = doubledigit_winners_claimed.order_by('Wins', reverse=True)

In [23]:
byavg_ddwinners_claimed.print_table(max_rows=100)

| First and Last Name  | Wins | Total Winnings |   Avg Claim | Max Claim |
| -------------------- | ---- | -------------- | ----------- | --------- |
| TOM H SPETH          |   10 |        207,075 | 20,707.500… |   200,000 |
| TIM L POLSON         |   10 |        158,677 | 15,867.700… |   150,000 |
| GLEN  HOGUE          |   10 |        110,624 | 11,062.400… |   100,000 |
| MICHAEL D RADNOV     |   23 |        214,226 |  9,314.174… |   200,000 |
| TERRY D MURNANE      |   28 |        213,200 |  7,614.286… |   150,000 |
| JAMES M MCGRAW       |   11 |         54,527 |  4,957.000… |    20,000 |
| ROBERT STARK         |   18 |         83,160 |  4,620.000… |    58,000 |
| SHIRLEY J STARLING   |   10 |         46,200 |  4,620.000… |    40,000 |
| JOSEPH H EWOLDT      |   10 |         44,744 |  4,474.400… |    40,000 |
| TAMMY L VOSTREZ      |   10 |         35,777 |  3,577.700… |    11,000 |
| MINH  TRAN           |   13 |         46,100 |  3,546.154… |    20,000 |
| ALPHONSE A BAKHIT    |   14 |         49,324 |  3,523.143… |    35,000 |
| ROBERT D BLOCK       |   25 |         80,540 |  3,221.600… |    40,000 |
| DOROTHY M THIEM      |   13 |         38,459 |  2,958.385… |    22,000 |
| CHARLES E MADISON    |   10 |         26,215 |  2,621.500… |    22,000 |
| MICHAEL D FREEBURG   |   10 |         26,200 |  2,620.000… |    20,000 |
| KARLEEN C STUTZMAN   |   53 |        136,532 |  2,576.075… |   100,000 |
| LEE K  TINKLER       |   15 |         35,203 |  2,346.867… |    22,003 |
| DOUGLAS  OBERMIRE    |   15 |         34,575 |  2,305.000… |    11,750 |
| LINDA L PERRIEN      |   10 |         22,200 |  2,220.000… |     5,000 |
| KEITH R ESTRADA      |   10 |         19,500 |  1,950.000… |    10,000 |
| TAMI L MEEVES        |   11 |         19,500 |  1,772.727… |    10,000 |
| RITA  HAUTZENRODER   |   19 |         32,802 |  1,726.421… |    22,000 |
| ROGER D ADAMS        |   22 |         34,070 |  1,548.636… |     5,000 |
| ADOLPHE  DENOVELLIS  |   14 |         19,605 |  1,400.357… |     5,002 |
| MARSHALL  LEITING    |   24 |         33,307 |  1,387.792… |    10,000 |
| GLORIA D JACKSON     |   12 |         16,602 |  1,383.500… |    10,000 |
| CHARLES D.  NAYLOR   |   32 |         42,600 |  1,331.250… |     5,500 |
| GARY  BRILEY         |   17 |         20,800 |  1,223.529… |    10,000 |
| DOUGLAS  THATCHER    |   20 |         23,000 |  1,150.000… |     4,800 |
| WALTER E MALSON      |   28 |         30,837 |  1,101.321… |     5,001 |
| DAVID H  MAC         |   20 |         21,600 |  1,080.000… |     4,800 |
| MICHELLE L STEVENSON |   15 |         16,186 |  1,079.067… |     5,000 |
| JEFFERY L  ELLISON   |   14 |         15,100 |  1,078.571… |     5,000 |
| JOE N CHAVIS         |   32 |         34,320 |  1,072.500… |     5,380 |
| OLEKSANDR  KOLESN... |   12 |         12,733 |  1,061.083… |     3,333 |
| DEBORAH A ROBERTS    |   10 |         10,400 |  1,040.000… |     5,000 |
| JOE N MATTOX         |   53 |         55,118 |  1,039.962… |    22,000 |
| MARK E JACKSON       |   13 |         13,300 |  1,023.077… |     2,450 |
| DOROTHY D SPENCE     |   11 |         10,151 |    922.818… |     5,001 |
| CHARLES A STREIT     |   12 |         11,020 |    918.333… |    10,000 |
| MELVIN L REIN        |   23 |         21,009 |    913.435… |     3,000 |
| JIMMY  MOORE         |   14 |         12,750 |    910.714… |     4,050 |
| FLOYD A  KNODEL      |   11 |          9,933 |    903.000… |     3,333 |
| DARLENE  POLLOCK     |   15 |         13,450 |    896.667… |     5,000 |
| WILLIAM  POOLE       |   13 |         11,450 |    880.769… |     1,800 |
| FLOYD T BROWN        |   15 |         13,102 |    873.467… |     2,500 |
| SARAH B WEAH         |   44 |         38,400 |    872.727… |    13,200 |
| CAROL J SMITH        |   13 |         11,150 |    857.692… |     7,500 |
| WADE L STEPHENS      |   17 |         14,450 |    850.000… |     5,000 |
| THU  NGUYEN          |   21 |         17,400 |    828.571… |     5,600 |
| BICH NGOC  MAC       |   11 |          9,100 |    827.273… |     1,800 |
| ROBERT C  REED       |   33 |         26,800 |    812.121… |     5,400 |
| MARILEE  GUNNING     |   13 |         10,200 |    784.615… |     4,200 |
| PAULA BISHOP         |   13 |         10,159 |    781.462… |     5,009 |
| ROBERT A.  RUSSELL   |   15 |         11,654 |    776.933… |     5,004 |
| TIMOTHY A HORN       |  132 |        101,400 |    768.182… |    22,000 |
| GERALD J GRASHORN    |   10 |          7,550 |    755.000… |     1,750 |
| SHARON R BOPP        |   18 |         13,506 |    750.333… |     1,000 |
| LAURIE L HEISE       |   42 |         31,200 |    742.857… |     7,200 |
| CAROL  KNAUSS        |   25 |         18,554 |    742.160… |     3,000 |
| WORDIE  WRIGHT       |   12 |          8,880 |    740.000… |     1,150 |
| WILLIAM  BEDINGER    |   19 |         13,950 |    734.211… |     1,400 |
| GLORIA J GONZALEZ    |   31 |         22,530 |    726.774… |     3,100 |
| DENNIS  LANHAM       |   13 |          9,426 |    725.077… |     2,226 |
| DIONI  MOREIRA       |   15 |         10,800 |    720.000… |     1,200 |
| WILLIE A MANN        |   29 |         20,500 |    706.897… |     3,700 |
| STEVEN J POSPISIL    |   11 |          7,650 |    695.455… |     3,100 |
| RICHARD F DARLING    |   31 |         21,100 |    680.645… |     3,700 |
| DOROTHY A  BLAND     |   18 |         12,200 |    677.778… |     1,300 |
| LARRY MURRY          |   59 |         39,876 |    675.864… |     1,550 |
| JANICE F BUTLER      |   19 |         12,620 |    664.211… |     1,804 |
| MONEKHAM  KHANTHA... |   13 |          8,600 |    661.538… |     3,000 |
| BARBARA  ELLIOTT     |   14 |          9,200 |    657.143… |     1,000 |
| ROBERT J TAGART      |   32 |         20,654 |    645.438… |     7,777 |
| DAVID L WESTPHALEN   |   20 |         12,850 |    642.500… |     1,350 |
| ANNETTE K PFLUG      |   19 |         12,204 |    642.316… |     1,200 |
| GERALD L KERANS      |   12 |          7,707 |    642.250… |     5,045 |
| JESS E.  MULLANIX    |   14 |          8,977 |    641.214… |     1,200 |
| MICHAEL L JONES      |   15 |          9,600 |    640.000… |     1,200 |
| JESSIE M FAIRLEY     |   14 |          8,850 |    632.143… |     1,200 |
| WIN  MYINT           |   19 |         11,985 |    630.789… |     3,000 |
| EDISON  GATEWOOD     |   13 |          8,200 |    630.769… |       800 |
| KENNETH G  SCHNEIDER |   22 |         13,851 |    629.591… |     3,600 |
| MANIVANH  SAYSAVANH  |   24 |         15,100 |    629.167… |     9,000 |
| TOMMY L MOORE        |   20 |         12,340 |    617.000… |     2,850 |
| JOHN T SCHRUNK       |   59 |         36,350 |    616.102… |     2,400 |
| OLAJUWON M WILSON    |   16 |          9,852 |    615.750… |       726 |
| MARILEE D GUNNING    |   10 |          6,150 |    615.000… |     1,800 |
| CHAD  BECKSTROM      |   15 |          9,177 |    611.800… |       777 |
| RAMON  MARRERO       |   27 |         16,509 |    611.444… |       909 |
| ALLEN  KELLUM        |   19 |         11,500 |    605.263… |     2,500 |
| DEWAYNE  STALEY      |  111 |         66,800 |    601.802… |     9,600 |
| WILLIAM  EARLYWINE   |   61 |         36,700 |    601.639… |    30,250 |
| WILLIAM D  HOSELTON  |   34 |         20,408 |    600.235… |     5,000 |
| JULIE A  LUELLMAN    |   24 |         14,400 |    600.000… |    12,000 |
| KO  NU               |   10 |          6,000 |    600.000… |     6,000 |
| JEREMY M.  ANZALDO   |   12 |          7,200 |    600.000… |     6,000 |
| MARCUS L.  BIODRO... |   16 |          9,600 |    600.000… |     4,800 |
| SAMUEL F SANCHEZ     |   12 |          7,200 |    600.000… |     4,200 |
| ...                  |  ... |            ... |         ... |       ... |

In [24]:
bytotal_ddwinners_claimed.print_table(max_rows=100)

| First and Last Name  | Wins | Total Winnings |   Avg Claim | Max Claim |
| -------------------- | ---- | -------------- | ----------- | --------- |
| MICHAEL D RADNOV     |   23 |        214,226 |  9,314.174… |   200,000 |
| TERRY D MURNANE      |   28 |        213,200 |  7,614.286… |   150,000 |
| TOM H SPETH          |   10 |        207,075 | 20,707.500… |   200,000 |
| TIM L POLSON         |   10 |        158,677 | 15,867.700… |   150,000 |
| KARLEEN C STUTZMAN   |   53 |        136,532 |  2,576.075… |   100,000 |
| GLEN  HOGUE          |   10 |        110,624 | 11,062.400… |   100,000 |
| TIMOTHY A HORN       |  132 |        101,400 |    768.182… |    22,000 |
| ROBERT STARK         |   18 |         83,160 |  4,620.000… |    58,000 |
| ROBERT D BLOCK       |   25 |         80,540 |  3,221.600… |    40,000 |
| PAYTON L LASSEK      |  168 |         67,200 |    400.000… |    18,800 |
| DEWAYNE  STALEY      |  111 |         66,800 |    601.802… |     9,600 |
| SCOTT C.  HARMON     |  103 |         56,946 |    552.874… |     6,600 |
| JOE N MATTOX         |   53 |         55,118 |  1,039.962… |    22,000 |
| ROBERT  RITONYA      |   92 |         54,600 |    593.478… |     3,600 |
| JAMES M MCGRAW       |   11 |         54,527 |  4,957.000… |    20,000 |
| PATRICK  THIT        |   95 |         52,014 |    547.516… |    20,400 |
| ALPHONSE A BAKHIT    |   14 |         49,324 |  3,523.143… |    35,000 |
| MYHUONG T NGUYEN     |   84 |         49,210 |    585.833… |     4,800 |
| SHIRLEY J STARLING   |   10 |         46,200 |  4,620.000… |    40,000 |
| MINH  TRAN           |   13 |         46,100 |  3,546.154… |    20,000 |
| JOSEPH H EWOLDT      |   10 |         44,744 |  4,474.400… |    40,000 |
| CHARLES D.  NAYLOR   |   32 |         42,600 |  1,331.250… |     5,500 |
| MICHAEL S  TAGART    |  181 |         42,500 |    234.807… |     7,000 |
| SHARON D HAITH       |   69 |         40,801 |    591.319… |     1,200 |
| LARRY MURRY          |   59 |         39,876 |    675.864… |     1,550 |
| DOROTHY M THIEM      |   13 |         38,459 |  2,958.385… |    22,000 |
| SARAH B WEAH         |   44 |         38,400 |    872.727… |    13,200 |
| WILLIAM  EARLYWINE   |   61 |         36,700 |    601.639… |    30,250 |
| JOHN T SCHRUNK       |   59 |         36,350 |    616.102… |     2,400 |
| TAMMY L VOSTREZ      |   10 |         35,777 |  3,577.700… |    11,000 |
| LEE K  TINKLER       |   15 |         35,203 |  2,346.867… |    22,003 |
| DOUGLAS  OBERMIRE    |   15 |         34,575 |  2,305.000… |    11,750 |
| JOE N CHAVIS         |   32 |         34,320 |  1,072.500… |     5,380 |
| ROGER D ADAMS        |   22 |         34,070 |  1,548.636… |     5,000 |
| MARSHALL  LEITING    |   24 |         33,307 |  1,387.792… |    10,000 |
| RITA  HAUTZENRODER   |   19 |         32,802 |  1,726.421… |    22,000 |
| LAURIE L HEISE       |   42 |         31,200 |    742.857… |     7,200 |
| WALTER E MALSON      |   28 |         30,837 |  1,101.321… |     5,001 |
| DENNIS J MCMAHON     |   49 |         29,400 |    600.000… |     3,600 |
| ROBERT C  REED       |   33 |         26,800 |    812.121… |     5,400 |
| CHARLES E MADISON    |   10 |         26,215 |  2,621.500… |    22,000 |
| MICHAEL D FREEBURG   |   10 |         26,200 |  2,620.000… |    20,000 |
| DOUGLAS  THATCHER    |   20 |         23,000 |  1,150.000… |     4,800 |
| TIMOTHY D SCHULTE    |   38 |         22,800 |    600.000… |     1,800 |
| GLORIA J GONZALEZ    |   31 |         22,530 |    726.774… |     3,100 |
| ANNA T THOMAS        |   48 |         22,400 |    466.667… |     6,000 |
| KAW H GAY            |   39 |         22,200 |    569.231… |    16,200 |
| LINDA L PERRIEN      |   10 |         22,200 |  2,220.000… |     5,000 |
| DAVID H  MAC         |   20 |         21,600 |  1,080.000… |     4,800 |
| RICHARD F DARLING    |   31 |         21,100 |    680.645… |     3,700 |
| MELVIN L REIN        |   23 |         21,009 |    913.435… |     3,000 |
| GARY  BRILEY         |   17 |         20,800 |  1,223.529… |    10,000 |
| ROBERT J TAGART      |   32 |         20,654 |    645.438… |     7,777 |
| WILLIE A MANN        |   29 |         20,500 |    706.897… |     3,700 |
| WILLIAM D  HOSELTON  |   34 |         20,408 |    600.235… |     5,000 |
| ADOLPHE  DENOVELLIS  |   14 |         19,605 |  1,400.357… |     5,002 |
| TAMI L MEEVES        |   11 |         19,500 |  1,772.727… |    10,000 |
| KEITH R ESTRADA      |   10 |         19,500 |  1,950.000… |    10,000 |
| CAROL  KNAUSS        |   25 |         18,554 |    742.160… |     3,000 |
| SAW  LAH             |   31 |         17,800 |    574.194… |     4,200 |
| ROBERT R RITONYA     |   30 |         17,526 |    584.200… |     3,000 |
| THU  NGUYEN          |   21 |         17,400 |    828.571… |     5,600 |
| GLORIA D JACKSON     |   12 |         16,602 |  1,383.500… |    10,000 |
| RAMON  MARRERO       |   27 |         16,509 |    611.444… |       909 |
| MICHELLE L STEVENSON |   15 |         16,186 |  1,079.067… |     5,000 |
| CHARLES H FINNEY     |   40 |         16,116 |    402.900… |     2,450 |
| MARK  LUELLMAN       |   26 |         15,600 |    600.000… |     1,800 |
| MANIVANH  SAYSAVANH  |   24 |         15,100 |    629.167… |     9,000 |
| JEFFERY L  ELLISON   |   14 |         15,100 |  1,078.571… |     5,000 |
| JAMES F HEFLINGER    |   25 |         14,700 |    588.000… |       900 |
| DARRIN M COOK        |   25 |         14,500 |    580.000… |     4,300 |
| WADE L STEPHENS      |   17 |         14,450 |    850.000… |     5,000 |
| JULIE A  LUELLMAN    |   24 |         14,400 |    600.000… |    12,000 |
| WILLIAM  BEDINGER    |   19 |         13,950 |    734.211… |     1,400 |
| KENNETH G  SCHNEIDER |   22 |         13,851 |    629.591… |     3,600 |
| SHARON R BOPP        |   18 |         13,506 |    750.333… |     1,000 |
| DARLENE  POLLOCK     |   15 |         13,450 |    896.667… |     5,000 |
| MARK E JACKSON       |   13 |         13,300 |  1,023.077… |     2,450 |
| FLOYD T BROWN        |   15 |         13,102 |    873.467… |     2,500 |
| LOTTERY VALIDATED... |   38 |         12,912 |    339.789… |     2,100 |
| DAVID L WESTPHALEN   |   20 |         12,850 |    642.500… |     1,350 |
| JAVIER  TRUJILLO     |   33 |         12,800 |    387.879… |     4,000 |
| JIMMY  MOORE         |   14 |         12,750 |    910.714… |     4,050 |
| OLEKSANDR  KOLESN... |   12 |         12,733 |  1,061.083… |     3,333 |
| JANICE F BUTLER      |   19 |         12,620 |    664.211… |     1,804 |
| TOMMY L MOORE        |   20 |         12,340 |    617.000… |     2,850 |
| ANNETTE K PFLUG      |   19 |         12,204 |    642.316… |     1,200 |
| DONALD  HALL         |   23 |         12,200 |    530.435… |     9,000 |
| DOROTHY A  BLAND     |   18 |         12,200 |    677.778… |     1,300 |
| WIN  MYINT           |   19 |         11,985 |    630.789… |     3,000 |
| ROBERT A.  RUSSELL   |   15 |         11,654 |    776.933… |     5,004 |
| ALLEN  KELLUM        |   19 |         11,500 |    605.263… |     2,500 |
| WILLIAM  POOLE       |   13 |         11,450 |    880.769… |     1,800 |
| DEBRA A POOLE-WIL... |   19 |         11,400 |    600.000… |       600 |
| MARY  HANCOCK        |   21 |         11,356 |    540.762… |       602 |
| THOMAS J HOWELL      |   28 |         11,259 |    402.107… |     4,000 |
| CAROL J SMITH        |   13 |         11,150 |    857.692… |     7,500 |
| FRANCIS J WINNICKI   |   19 |         11,127 |    585.632… |     2,400 |
| CHARLES A STREIT     |   12 |         11,020 |    918.333… |    10,000 |
| DIONI  MOREIRA       |   15 |         10,800 |    720.000… |     1,200 |
| ...                  |  ... |            ... |         ... |       ... |

Send aggregate tables to csv files

In [15]:
doubledigit_winners_claimed.to_csv('dd_winners.csv')
playerwinnings_claimed.to_csv('all_winners.csv')
frequent_winners_claimed.to_csv('frequent_winners.csv')